.heroSection {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    filter: brightness(0.8);
}

@media (min-width: 768px) {
    .heroSection {
        width: 120%;
        right: -10%;
        left: 0;
    }
}

.heroSection[data-bg="0"] {
    background-image: url('@images/hero1.svg');
}

.heroSection[data-bg="1"] {
    background-image: url('@images/hero2.svg');
}